@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

//************* NAV ****************
//**********************************
.nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: rgba(8, 89, 121, 0.929);
  box-shadow: 0px 0px 8px 0.9px black;
  border: none;
  position: fixed;
  padding: 0.5em;
  z-index: 1;
  top: 0;

  .logo>a>svg {
    position: relative;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 150px;
    height: 50px;
  }

  .nav-links-container {
    position: relative;
    display: flex;
    margin-right: 1em;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 1em;
      transition: all 0.4s ease;
      display: none;
      cursor: pointer;
      margin-left: 2.2em;

      @media (min-width:480px) {
        display: block;
        font-size: 0.6em;
      }

      @media (min-width:768px) {
        display: block;
        font-size: 0.9em;
      }
    }

    a:hover {
      transform: scale(1.05);
      transition: all 0.4s ease;
    }
  }

  //****** NAV-TOGGLE **********************
  //****************************************
  .nav-toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
    background: none;
    width: 4em;
    height: 4em;
    border: none;
    transition: all 0.4s ease;
    cursor: pointer;

    @media (min-width:480px) {
      display: none;
    }

    .ham {
      cursor: pointer;
      transition: transform 400ms;
      user-select: none;
      transform: scale(1.3);
    }

    .hamRotate.active {
      transform: rotate(45deg);
    }

    .hamRotate180.active {
      transform: rotate(180deg);
    }

    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: rgb(255, 255, 255);
      stroke-width: 3.5;
      stroke-linecap: round;
    }

    .ham1 .top {
      stroke-dasharray: 40 139;
    }

    .ham1 .bottom {
      stroke-dasharray: 40 180;
    }

    .ham1.active .top {
      stroke-dashoffset: -98px;
    }

    .ham1.active .bottom {
      stroke-dashoffset: -138px;
    }
  }
}

//********* MOBILE-NAV **********
//*******************************
.mobile-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  background: white;
  left: 0;
  top: 100%;



  &.show-mobile-nav {
    display: block;
  }

  .links {
    position: relative;
    display: flex;
    text-decoration: none;
    color: rgb(218, 229, 255);
    transition: all 0.04s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00ddff3a;
    background: #014e5aee;
    width: 100%;
    padding: 0.5em;
  }

  .links:hover {
    transform: scale(1.04);
    transition: all 0.04s ease;
    cursor: pointer;
  }
}

//************** HERO ************************
//********************************************
.section-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  scroll-behavior: smooth;

  @media (min-width:1024px) {
    background-size: 100%;
    animation: heroGrow 1000s ease forwards;

    @keyframes heroGrow {
      from {
        background-size: 100%;
      }

      to {
        background-size: 1000%;
      }
    }
  }

  .text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.5em;

    h1 {
      font-weight: bold;
      font-size: 57px;
      color: #00DCFF;

      span {
        color: #ffffff;
      }
    }

    h4 {
      font-size: 18.5px;
      font-style: normal;
      color: rgba(255, 255, 255,
          0.769);
      margin-top: -1em;
    }

    small {
      color: rgba(255, 255, 255, 0.878);
      margin-top: -1em;
      text-align: center;
      padding: 0 1em;
      font-size: 0.8rem;
      line-height: 1rem;
      margin: .2rem 0 0 0;

      @media (min-width:480px) {
        font-size: 11.8px;
      }
    }

    a {

      button {
        position: relative;
        margin-top: 2.5em;
        padding: 0.6em 1.8em;
        border-radius: 30px;
        border: 1px solid #00ddff2c;
        background: rgba(193, 211, 255, 0.327);
        box-shadow: 0px 1px 8px 0.1px #00ddff4d;
        color: #00dcff;
        transition: all 0.4s ease;
      }
    }

    button:hover {
      transform: scale(1.04);
      transition: all 0.4s ease;
      background-color: rgba(151, 96, 252, 0.327);
      border: 0.1px solid rgba(151, 96, 252, 0.327);
      box-shadow: 0px 1px 8px 0.1px rgba(151, 96, 252, 0.817);
      color: rgb(255, 255, 255);
    }
  }
}

//**************** OUR-SERVICES ****************
//**********************************************
.our-services {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(182deg, rgb(9, 9, 9) 50%, #545454 100%);

  h1 {

    color: #ffffffe5;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0em;

    span {
      color: #00d5ff;
    }
  }

  //*************** SLIDER-CONTAINER *********************
  //*******************************************************
  .slider-container {
    width: 85%;
    height: 18em;

    @media (min-width:480px) {
      width: 55%;
    }

    @media (min-width:768px) {
      width: 55%;
    }

    @media (min-width:1024px) {
      width: 85%;
    }

    .main-carousel {
      width: 100%;
      padding: 0 1em;

      .flickity-viewport {
        width: 100%;

        .flickity-slider {
          width: 100%;

          .carousel-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100%);
            height: 260px;
            margin: 0 2em;

            @media (min-width: 480px) {
              height: 355px;
            }

            @media (min-width:1024px) {
              width: 35%;
              height: 260px;
            }

            // ( > ) targeting the first child
            >article {
              width: 90%;
              height: 90%;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 1em;
              background: rgb(0, 0, 0);
              border-radius: 5px;
              box-shadow: 0 0 0.9px 1px black;

              &:before,
              &:after {
                content: "";
                position: absolute;
                width: 2px;
                height: 2px;
                border-radius: 100%;
                top: 5px;
                right: 5px;
                background: linear-gradient(140deg, rgba(255, 255, 255, 0.136) 0%, rgba(255, 255, 255, 0.096) 25%);
                z-index: -1;
                transition: all 0.4s ease;
                box-shadow: 0 0 0.9px 1px rgba(27, 255, 1, 0.572);
              }

              &:hover {

                &:before,
                &:after {
                  top: -8px;
                  right: -8px;
                  width: 20px;
                  height: 20px;
                  background: rgba(27, 255, 1, 0.572);
                  transition: all 0.7s ease;
                  z-index: 1;
                }
              }

              h1 {
                font-size: 1.1em;
                color: #00d5ffc1;
                text-align: center;
              }

              small {
                color: #ffffffcb;
                font-size: 0.9em;
                font-family: 'Poppins', sans-serif;
                text-align: center;
              }
            }
          }
        }
      }

      .flickity-button {
        display: flex;
        margin-left: -2em;
        margin-right: -2em;
        background: #7db2ba6f;
        transition: all 0.5s ease;
      }

      .flickity-button:hover {
        background: #8ff0ff6f;
      }

      .flickity-page-dots {
        margin-left: -1em;
      }
    }
  }

  //*********** SCROLL-ARROW *************
  //**************************************
  a {
    .scroll-arrow-container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
      border-radius: 100%;
      margin-left: -1em;
      margin-top: 3.9em;
      cursor: pointer;
      background: rgba(193, 211, 255, 0.327);
      color: #00dcff;
      transition: all 0.4s ease;


      i {
        position: relative;
        text-decoration: none;
        color: #1e2729;
        transition: all 0.3s ease;
      }
    }

    .scroll-arrow-container:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
      background: rgba(151, 96, 252, 0.463);
      border: 1px solid rgba(151, 96, 252, 0.327);
      box-shadow: 0px 1px 8px 0.1px #00ddff4d;
    }
  }
}

//************* SERVICE-INFORMATION **************
//************************************************
.service-information {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgb(7, 7, 7) 25%, rgb(164, 164, 164) 200%);
  width: 100%;
  height: 100vh;

  h1 {

    span {
      color: #D3F3F8;
    }

    position: relative;
    color: #00DCFF;
    font-size: 1.8em;
    font-weight: bold;
    bottom: -4.8em;

    @media (min-width: 480px) {
      top: 0em;
    }

    @media (min-width: 1024px) {
      font-size: 2em;
    }
  }

  //******************* SERVICE-INFORMATION *********************
  //*************************************************************
  .service-information-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3.5em;

    @media (min-width: 480px) {
      margin-top: 1em;
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 60%;
      justify-content: center;
    }

    @media (min-width:1024px) {
      flex-direction: row;
    }

    //************ CARD-1 *************
    //*********************************
    .service-information-card-group-1 {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      top: 3em;
      padding: 0.5em 0em;

      @media (min-width: 480px) {
        top: 0;
      }

      .service-information-card-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em;

        .thumb-img-1 {
          background-image: url("../images/thumb-img-1.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 4em;
          height: 3em;
          border-radius: 100%;
          margin-right: 0.5em;
          margin-top: 1em;

          @media (min-width: 768px) {
            width: 6em;
            height: 6em;
          }
        }

        .service-information-text-container {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 0.5em 1em 0em 0.5em;
          width: 20em;
          margin-left: 0.5em;

          h2 {
            color: #00DCFF;
            font-size: 1em;
            line-height: 1em;
            margin-bottom: 1em;

            @media (min-width:768px) {
              font-size: 1.2em;
            }

            @media (min-width:1024px) {
              font-size: 1.5em;
              width: 22em;
            }
          }

          p {
            font-size: 0.9em;
            line-height: 1.2em;
            color: #D3F3F8;
            margin-top: -0.8em;

            @media (min-width:768px) {
              font-size: 0.8em;
            }

            @media (min-width:1024px) {
              font-size: 1.0em;
              width: 22em;
            }
          }
        }
      }

      //************ CARD-2 *************
      //*********************************
      .service-information-card-2 {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        top: -2.5em;

        @media (min-width: 480px) {
          top: 0;
        }


        .thumb-img-2 {
          position: relative;
          background-image: url("../images/thumb-img-2.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 4em;
          height: 3em;
          border-radius: 100%;
          margin-right: 0.5em;

          @media (min-width: 768px) {
            width: 6em;
            height: 6em;
          }
        }

        .service-information-text-container-2 {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 0.5em;
          width: 20em;
          margin-left: 0.5em;

          h2 {
            color: #00DCFF;
            font-size: 1em;
            line-height: 1em;
            margin-bottom: 1em;

            @media (min-width:768px) {
              font-size: 1.2em;
            }

            @media (min-width:1024px) {
              font-size: 1.5em;
              width: 22em;
            }
          }

          p {
            font-size: 0.9em;
            color: #D3F3F8;
            margin-top: -0.8em;
            line-height: 1.2em;

            @media (min-width:768px) {
              font-size: 0.8em;
            }

            @media (min-width:1024px) {
              font-size: 1.0em;
              width: 21em;
            }
          }
        }
      }
    }

    //************ CARD-3 *************
    //*********************************
    .service-information-card-group-2 {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      top: -3.5em;
      padding: 0.5em 0em;

      @media (min-width: 480px) {
        top: 0;
      }

      @media (min-width: 1024px) {
        margin-left: 5em;
      }

      .service-information-card-3 {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em;

        .thumb-img-3 {
          position: relative;
          background-image: url("../images/thumb-img-3.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 4em;
          height: 3em;
          border-radius: 100%;
          margin-right: 0.5em;

          @media (min-width: 768px) {
            width: 6em;
            height: 6em;
          }
        }

        .service-information-text-container-3 {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 0.5em;
          width: 20em;
          margin-left: 0.5em;

          h2 {
            color: #00DCFF;
            font-size: 1em;
            line-height: 1em;
            margin-bottom: 1em;

            @media (min-width:768px) {
              font-size: 1.2em;
            }

            @media (min-width:1024px) {
              font-size: 1.5em;
              width: 22em;
            }
          }

          p {
            font-size: 0.9em;
            line-height: 1.2em;
            color: #D3F3F8;
            margin-top: -0.8em;

            @media (min-width:768px) {
              font-size: 0.8em;
            }

            @media (min-width:1024px) {
              font-size: 1.0em;
              width: 21em;
            }
          }
        }
      }

      //************ CARD-4 *************
      //*********************************
      .service-information-card-4 {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        top: -2.5em;

        @media (min-width: 480px) {
          top: 0;
        }

        .thumb-img-4 {
          position: relative;
          background-image: url("../images/thumb-img-4.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 4em;
          height: 3em;
          border-radius: 100%;
          margin-right: 0.5em;

          @media (min-width: 768px) {
            width: 6em;
            height: 6em;
          }
        }

        .service-information-text-container-4 {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 0.5em;
          width: 20em;
          margin-left: 0.5em;

          h2 {
            color: #00DCFF;
            font-size: 1em;
            line-height: 1em;
            margin-bottom: 1em;

            @media (min-width:768px) {
              font-size: 1.2em;
            }

            @media (min-width:1024px) {
              font-size: 1.5em;
              width: 22em;
            }
          }

          p {
            font-size: 0.9em;
            line-height: 1.2em;
            color: #D3F3F8;
            margin-top: -0.8em;

            @media (min-width:768px) {
              font-size: 0.8em;
            }

            @media (min-width:1024px) {
              font-size: 1.0em;
              width: 21em;
            }
          }
        }
      }
    }
  }

  //*********** GET-QUOTE **************
  //************************************
  .get-quote-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    top: -6.5em;

    @media (min-width: 480px) {
      top: 0em;
    }

    @media (min-width: 768px) {
      top: 0em;
    }

    @media (min-width:1024px) {
      top: 2.5em;
    }

    small {
      display: flex;
      flex-direction: column;
      color: #00DCFF;
      font-size: 0.4em;

      @media (min-width: 320px) {
        display: none;
      }
    }

    span {
      position: relative;
      color: #91effd;
      font-size: 0.4em;
      letter-spacing: 0.1em;

      @media (min-width: 320px) {
        display: none;
      }
    }

    a {
      button {
        position: relative;
        text-decoration: none;
        font-size: 0.8em;
        margin-top: .5em;
        padding: 0.6em 1.8em;
        border-radius: 30px;
        border: 1px solid #00ddff2c;
        background: rgba(193, 211, 255, 0.327);
        transition: all 0.4s ease;
        color: #00d5ff;
      }
    }


    button:hover {
      transform: scale(1.04);
      transition: all 0.4s ease;
      background-color: rgba(151, 96, 252, 0.184);
      border: 0.1px solid rgba(151, 96, 252, 0.116);
      color: rgb(255, 255, 255);
    }
  }
}

//***************** ABOUT-US ******************
//*********************************************
.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.762), rgba(0, 0, 0, 0.47)), url("../images/about-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  padding: 2em;
  animation: heroGrow 1000s ease forwards;

  @keyframes heroGrow {
    from {
      background-size: 100%;
    }

    to {
      background-size: 1000%;
    }
  }

  h1 {
    font-size: 2em;
    color: #00DCFF;

    span {
      color: #D3F3F8;
    }
  }

  p {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #D3F3F8;
    text-align: center;
    max-width: 45em;

    @media (min-width:1024px) {
      font-size: 1.2em;

    }

    span {
      font-size: 0.75em;
      font-weight: bold;
      letter-spacing: 1.2px;
    }
  }

  .call-us-btn {
    position: relative;
    margin-top: 2.5em;
    padding: 0.6em 1.8em;
    border-radius: 30px;
    border: 1px solid #00ddff2c;
    background: rgba(193, 211, 255, 0.327);
    box-shadow: 0px 1px 8px 0.1px #00ddff4d;
    color: #00dcff;
    transition: all 0.4s ease;
  }
}

.call-us-btn:hover {
  transform: scale(1.04);
  transition: all 0.4s ease;
  background-color: rgba(151, 96, 252, 0.327);
  border: 1px solid rgba(151, 96, 252, 0.327);
  color: rgb(255, 255, 255);
}

//**************** CONTACT *********************
//**********************************************
.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(15, 15, 15) 50%, rgb(69, 69, 69) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  padding: 0.5em;

  @media (min-width:1024px) {
    flex-direction: row;
  }

  .contact-text-container {
    .contact-element-group-1 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        color: #00DCFF;
        font-size: 2em;
        margin-top: 2em;
      }

      h4 {
        color: rgb(218, 229, 255);
        margin-top: -2em;
      }

      p {
        color: rgb(218, 229, 255);
        margin-top: -1em;
        font-size: 0.8em;
        line-height: 1em;
        text-align: center;
      }
    }

    .contact-element-group-2 {
      label {
        color: #00DCFF;
        text-align: center;
        font-size: 0.6em;
        margin-top: 1em;

        .maps-container {
          position: relative;

          iframe {
            border-radius: 15px;
            box-shadow: 0px 1px 8px 0.1px #000000;
          }
        }
      }
    }
  }
}

//************* FOOTER ***************
//************************************
footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  background: #1e2729;
  color: #D3F3F8;
  margin-top: -2.1em;

  a {
    text-decoration: none;
    color: #00aaffc6;
    font-weight: bold;
  }
}