@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  background: rgba(8, 89, 121, 0.929);
  -webkit-box-shadow: 0px 0px 8px 0.9px black;
          box-shadow: 0px 0px 8px 0.9px black;
  border: none;
  position: fixed;
  padding: 0.5em;
  z-index: 1;
  top: 0;
}

.nav .logo > a > svg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  width: 150px;
  height: 50px;
  top: 0.5em;
}

@media (min-width: 480px) {
  .nav .logo > a > svg {
    top: 0;
  }
}

.nav .nav-links-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-links-container a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
  cursor: pointer;
  margin-left: 2.2em;
}

@media (min-width: 480px) {
  .nav .nav-links-container a {
    display: block;
    font-size: 0.6em;
  }
}

@media (min-width: 768px) {
  .nav .nav-links-container a {
    display: block;
    font-size: 0.9em;
  }
}

.nav .nav-links-container a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav .nav-toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0em;
  background: none;
  width: 4em;
  height: 4em;
  border: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

@media (min-width: 480px) {
  .nav .nav-toggle {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  background: white;
  left: 0;
  top: 100%;
}

.mobile-nav.show-mobile-nav {
  display: block;
}

.mobile-nav .links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #dae5ff;
  -webkit-transition: all 0.04s ease;
  transition: all 0.04s ease;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #00ddff3a;
  background: #014e5aee;
  width: 100%;
  padding: 0.5em;
}

.mobile-nav .links:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.04s ease;
  transition: all 0.04s ease;
  cursor: pointer;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  section {
    background-size: 100%;
  }
}

section article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0.5em;
}

section article h1 {
  font-weight: bold;
  font-size: 40px;
  color: #00DCFF;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-5em);
            transform: translateY(-5em);
  }
  to {
    opacity: 10;
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-5em);
            transform: translateY(-5em);
  }
  to {
    opacity: 10;
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

section article h1 span {
  color: #ffffff;
}

section article h4 {
  font-size: 18.5px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.769);
  margin-top: -1em;
  -webkit-animation-name: slide-in-h4;
          animation-name: slide-in-h4;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes slide-in-h4 {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
    -webkit-transform: translateX(-80em);
            transform: translateX(-80em);
  }
  to {
    opacity: 10;
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    -webkit-animation-duration: 0.5s ease;
            animation-duration: 0.5s ease;
  }
}

@keyframes slide-in-h4 {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
    -webkit-transform: translateX(-80em);
            transform: translateX(-80em);
  }
  to {
    opacity: 10;
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    -webkit-animation-duration: 0.5s ease;
            animation-duration: 0.5s ease;
  }
}

section article small {
  color: rgba(255, 255, 255, 0.878);
  margin-top: -1em;
  text-align: center;
  padding: 0 1em;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: .2rem 0 0 0;
  -webkit-animation-name: slide-in-small;
          animation-name: slide-in-small;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes slide-in-small {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
    -webkit-transform: translateX(100em);
            transform: translateX(100em);
  }
  to {
    opacity: 10;
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
}

@keyframes slide-in-small {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
    -webkit-transform: translateX(100em);
            transform: translateX(100em);
  }
  to {
    opacity: 10;
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
}

@media (min-width: 480px) {
  section article small {
    font-size: 11.8px;
  }
}

section article a button {
  position: relative;
  margin-top: 2.5em;
  padding: 0.6em 1.8em;
  border-radius: 30px;
  border: 1px solid #00ddff2c;
  background: #00ddff68;
  -webkit-box-shadow: 0px 1px 8px 0.1px #00ddff4d;
          box-shadow: 0px 1px 8px 0.1px #00ddff4d;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-animation-name: slide-in-button;
          animation-name: slide-in-button;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes slide-in-button {
  from {
    opacity: 0;
    -webkit-transform: translateY(2000em);
            transform: translateY(2000em);
  }
  to {
    opacity: 10;
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
}

@keyframes slide-in-button {
  from {
    opacity: 0;
    -webkit-transform: translateY(2000em);
            transform: translateY(2000em);
  }
  to {
    opacity: 10;
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
}

section article button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(151, 96, 252, 0.327);
  border: 0.1px solid rgba(151, 96, 252, 0.327);
  -webkit-box-shadow: 0px 1px 8px 0.1px rgba(151, 96, 252, 0.817);
          box-shadow: 0px 1px 8px 0.1px rgba(151, 96, 252, 0.817);
  color: white;
}

.our-services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(182deg, #090909 50%, #545454 100%);
}

.our-services h1 {
  color: #ffffffe5;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0em;
}

.our-services h1 span {
  color: #00d5ff;
}

.our-services > article {
  width: 85%;
  height: 18em;
}

@media (min-width: 480px) {
  .our-services > article {
    width: 55%;
  }
}

@media (min-width: 1024px) {
  .our-services > article {
    width: 85%;
  }
}

.our-services > article .main-carousel {
  width: 100%;
  padding: 0 1em;
}

.our-services > article .main-carousel .flickity-viewport {
  width: 100%;
}

.our-services > article .main-carousel .flickity-viewport .flickity-slider {
  width: 100%;
}

.our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%);
  height: 260px;
  margin: 0 2em;
}

@media (min-width: 480px) {
  .our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell {
    height: 355px;
  }
}

@media (min-width: 1024px) {
  .our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell {
    width: 35%;
    height: 260px;
  }
}

.our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article {
  width: 90%;
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0.9px 1px black;
          box-shadow: 0 0 0.9px 1px black;
}

.our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article:before, .our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  top: 5px;
  right: 5px;
  background: linear-gradient(140deg, rgba(255, 255, 255, 0.136) 0%, rgba(255, 255, 255, 0.096) 25%);
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 0 0.9px 1px rgba(27, 255, 1, 0.572);
          box-shadow: 0 0 0.9px 1px rgba(27, 255, 1, 0.572);
}

.our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article:hover:before, .our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article:hover:after {
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background: rgba(27, 255, 1, 0.572);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1;
}

.our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article h1 {
  font-size: 1.1em;
  color: #00d5ffc1;
  text-align: center;
  line-height: 1.2em;
}

.our-services > article .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article small {
  color: #ffffffcb;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 1.2em;
}

.our-services > article .main-carousel .flickity-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2em;
  margin-right: -2em;
  background: #7db2ba6f;
}

.our-services > article .main-carousel .flickity-button:hover {
  background: #8ff0ff6f;
}

.our-services > article .main-carousel .flickity-page-dots {
  margin-left: -1em;
}

.our-services a div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  margin-left: -1em;
  margin-top: 3.9em;
  cursor: pointer;
  background: rgba(193, 211, 255, 0.327);
  color: #00dcff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.our-services a div i {
  position: relative;
  text-decoration: none;
  color: #1e2729;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.our-services a div:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgba(151, 96, 252, 0.463);
  border: 1px solid rgba(151, 96, 252, 0.327);
  -webkit-box-shadow: 0px 1px 8px 0.1px #00ddff4d;
          box-shadow: 0px 1px 8px 0.1px #00ddff4d;
}

.service-information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #070707), color-stop(200%, #a4a4a4));
  background: linear-gradient(0deg, #070707 25%, #a4a4a4 200%);
  width: 100%;
  padding: 0 15%;
}

@media (min-width: 320px) {
  .service-information {
    padding: 0 1%;
  }
}

.service-information h1 {
  top: 1.5em;
  position: relative;
  color: #00DCFF;
  font-size: 1.8em;
  font-weight: bold;
}

@media (min-width: 480px) {
  .service-information h1 {
    top: 0;
  }
}

@media (min-width: 1024px) {
  .service-information h1 {
    font-size: 2em;
    top: 0em;
  }
}

.service-information h1 span {
  color: #D3F3F8;
}

.service-information .service-information-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service-information .service-information-cards-container > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 .5rem;
  margin: 2rem 0 0 0;
}

.service-information .service-information-cards-container > div:nth-of-type(2) {
  margin: 0;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container > div {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.service-information .service-information-cards-container > div > article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.service-information .service-information-cards-container > div > article figure {
  background-image: url("../images/thumb-img-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 4em;
  height: 4em;
  border-radius: 100%;
  margin: 0 1rem 0 0;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container > div > article figure {
    min-width: 5em;
    height: 5em;
  }
}

.service-information .service-information-cards-container > div > article > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.service-information .service-information-cards-container > div > article > div h2 {
  color: #00DCFF;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container > div > article > div h2 {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container > div > article > div h2 {
    font-size: 1.5em;
  }
}

.service-information .service-information-cards-container > div > article > div p {
  font-size: 0.7em;
  line-height: 1.2em;
  color: #D3F3F8;
  margin-top: -0.8em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container > div > article > div p {
    font-size: 0.8em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container > div > article > div p {
    font-size: 1.0em;
  }
}

.service-information > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.service-information > div small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00DCFF;
  font-size: 0.4em;
}

@media (min-width: 320px) {
  .service-information > div small {
    display: none;
  }
}

.service-information > div span {
  position: relative;
  color: #91effd;
  font-size: 0.4em;
  letter-spacing: 0.1em;
}

@media (min-width: 320px) {
  .service-information > div span {
    display: none;
  }
}

.service-information > div a button {
  position: relative;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: .5em;
  padding: 0.6em 1.8em;
  border-radius: 30px;
  border: 1px solid #00ddff2c;
  background: #00ddff68;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #00d5ff;
}

.service-information > div button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(151, 96, 252, 0.184);
  border: 0.1px solid rgba(151, 96, 252, 0.116);
  color: white;
}

.about-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.47))), url("../images/about-us.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.762), rgba(0, 0, 0, 0.47)), url("../images/about-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  padding: 2em;
}

.about-us h1 {
  font-size: 2em;
  color: #00DCFF;
  top: 0;
}

.about-us h1 span {
  color: #D3F3F8;
}

.about-us p {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #D3F3F8;
  text-align: center;
  max-width: 45em;
}

@media (min-width: 1024px) {
  .about-us p {
    font-size: 1.2em;
  }
}

.about-us p span {
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.about-us button {
  position: relative;
  margin-top: 2.5em;
  padding: 0.6em 1.8em;
  border-radius: 30px;
  border: 1px solid #00ddff2c;
  background: #00ddff68;
  -webkit-box-shadow: 0px 1px 8px 0.1px #00ddff4d;
          box-shadow: 0px 1px 8px 0.1px #00ddff4d;
  color: #00dcff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(151, 96, 252, 0.327);
  border: 1px solid rgba(151, 96, 252, 0.327);
  color: white;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0f0f0f), to(#454545));
  background: linear-gradient(180deg, #0f0f0f 50%, #454545 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  padding: 0.5em;
}

@media (min-width: 768px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

@media (min-width: 768px) {
  .contact article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contact article > div {
    margin-right: 4em;
  }
}

@media (min-width: 1024px) {
  .contact article > div {
    margin-right: 4em;
  }
}

.contact article > div h2 {
  color: #00DCFF;
  font-size: 2em;
  margin-bottom: 2em;
}

.contact article > div h4 {
  color: #dae5ff;
  margin-top: -2em;
}

.contact article > div p {
  color: #dae5ff;
  margin-top: -1em;
  font-size: 0.8em;
  line-height: 1em;
  text-align: center;
}

.contact article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact article > div label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00DCFF;
  text-align: center;
  font-size: 0.6em;
  margin-bottom: 1em;
}

.contact article > div > div {
  position: relative;
}

.contact article > div > div iframe {
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 8px 0.1px #000000;
          box-shadow: 0px 1px 8px 0.1px #000000;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5em;
  background: #1e2729;
  color: #D3F3F8;
  margin-top: -2.1em;
}

footer a {
  text-decoration: none;
  color: #00aaffc6;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */