@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  background: rgba(8, 89, 121, 0.929);
  -webkit-box-shadow: 0px 0px 8px 0.9px black;
          box-shadow: 0px 0px 8px 0.9px black;
  border: none;
  position: fixed;
  padding: 0.5em;
  z-index: 1;
  top: 0;
}

.nav .logo > a > svg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  width: 150px;
  height: 50px;
  top: 0.5em;
}

@media (min-width: 480px) {
  .nav .logo > a > svg {
    top: 0;
  }
}

.nav .nav-links-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-links-container a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
  cursor: pointer;
  margin-left: 2.2em;
}

@media (min-width: 480px) {
  .nav .nav-links-container a {
    display: block;
    font-size: 0.6em;
  }
}

@media (min-width: 768px) {
  .nav .nav-links-container a {
    display: block;
    font-size: 0.9em;
  }
}

.nav .nav-links-container a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav .nav-toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0em;
  background: none;
  width: 4em;
  height: 4em;
  border: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

@media (min-width: 480px) {
  .nav .nav-toggle {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  background: white;
  left: 0;
  top: 100%;
}

.mobile-nav.show-mobile-nav {
  display: block;
}

.mobile-nav .links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #dae5ff;
  -webkit-transition: all 0.04s ease;
  transition: all 0.04s ease;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #00ddff3a;
  background: #014e5aee;
  width: 100%;
  padding: 0.5em;
}

.mobile-nav .links:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.04s ease;
  transition: all 0.04s ease;
  cursor: pointer;
}

.section-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/hero.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  .section-1 {
    background-size: 100%;
    -webkit-animation: heroGrow 1000s ease forwards;
            animation: heroGrow 1000s ease forwards;
  }
  @-webkit-keyframes heroGrow {
    from {
      background-size: 100%;
    }
    to {
      background-size: 1000%;
    }
  }
  @keyframes heroGrow {
    from {
      background-size: 100%;
    }
    to {
      background-size: 1000%;
    }
  }
}

.section-1 .text-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0.5em;
}

.section-1 .text-container h1 {
  font-weight: bold;
  font-size: 57px;
  color: #00DCFF;
}

.section-1 .text-container h1 span {
  color: #ffffff;
}

.section-1 .text-container h4 {
  font-size: 18.5px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.769);
  margin-top: -1em;
}

.section-1 .text-container small {
  color: rgba(255, 255, 255, 0.878);
  margin-top: -1em;
  text-align: center;
  padding: 0 1em;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: .2rem 0 0 0;
}

@media (min-width: 480px) {
  .section-1 .text-container small {
    font-size: 11.8px;
  }
}

.section-1 .text-container a button {
  position: relative;
  margin-top: 2.5em;
  padding: 0.6em 1.8em;
  border-radius: 30px;
  border: 1px solid #00ddff2c;
  background: rgba(193, 211, 255, 0.327);
  -webkit-box-shadow: 0px 1px 8px 0.1px #00ddff4d;
          box-shadow: 0px 1px 8px 0.1px #00ddff4d;
  color: #00dcff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-1 .text-container button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(151, 96, 252, 0.327);
  border: 0.1px solid rgba(151, 96, 252, 0.327);
  -webkit-box-shadow: 0px 1px 8px 0.1px rgba(151, 96, 252, 0.817);
          box-shadow: 0px 1px 8px 0.1px rgba(151, 96, 252, 0.817);
  color: white;
}

.our-services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(182deg, #090909 50%, #545454 100%);
}

.our-services h1 {
  color: #ffffffe5;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0em;
}

.our-services h1 span {
  color: #00d5ff;
}

.our-services .slider-container {
  width: 85%;
  height: 18em;
}

@media (min-width: 480px) {
  .our-services .slider-container {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .our-services .slider-container {
    width: 55%;
  }
}

@media (min-width: 1024px) {
  .our-services .slider-container {
    width: 85%;
  }
}

.our-services .slider-container .main-carousel {
  width: 100%;
  padding: 0 1em;
}

.our-services .slider-container .main-carousel .flickity-viewport {
  width: 100%;
}

.our-services .slider-container .main-carousel .flickity-viewport .flickity-slider {
  width: 100%;
}

.our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%);
  height: 260px;
  margin: 0 2em;
}

@media (min-width: 480px) {
  .our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell {
    height: 355px;
  }
}

@media (min-width: 1024px) {
  .our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell {
    width: 35%;
    height: 260px;
  }
}

.our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article {
  width: 90%;
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0.9px 1px black;
          box-shadow: 0 0 0.9px 1px black;
}

.our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article:before, .our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  top: 5px;
  right: 5px;
  background: linear-gradient(140deg, rgba(255, 255, 255, 0.136) 0%, rgba(255, 255, 255, 0.096) 25%);
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 0 0.9px 1px rgba(27, 255, 1, 0.572);
          box-shadow: 0 0 0.9px 1px rgba(27, 255, 1, 0.572);
}

.our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article:hover:before, .our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article:hover:after {
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background: rgba(27, 255, 1, 0.572);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1;
}

.our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article h1 {
  font-size: 1.1em;
  color: #00d5ffc1;
  text-align: center;
}

.our-services .slider-container .main-carousel .flickity-viewport .flickity-slider .carousel-cell > article small {
  color: #ffffffcb;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.our-services .slider-container .main-carousel .flickity-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2em;
  margin-right: -2em;
  background: #7db2ba6f;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.our-services .slider-container .main-carousel .flickity-button:hover {
  background: #8ff0ff6f;
}

.our-services .slider-container .main-carousel .flickity-page-dots {
  margin-left: -1em;
}

.our-services a .scroll-arrow-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  margin-left: -1em;
  margin-top: 3.9em;
  cursor: pointer;
  background: rgba(193, 211, 255, 0.327);
  color: #00dcff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.our-services a .scroll-arrow-container i {
  position: relative;
  text-decoration: none;
  color: #1e2729;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.our-services a .scroll-arrow-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgba(151, 96, 252, 0.463);
  border: 1px solid rgba(151, 96, 252, 0.327);
  -webkit-box-shadow: 0px 1px 8px 0.1px #00ddff4d;
          box-shadow: 0px 1px 8px 0.1px #00ddff4d;
}

.service-information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #070707), color-stop(200%, #a4a4a4));
  background: linear-gradient(0deg, #070707 25%, #a4a4a4 200%);
  width: 100%;
  height: 100vh;
}

.service-information h1 {
  position: relative;
  color: #00DCFF;
  font-size: 1.8em;
  font-weight: bold;
  bottom: -4.8em;
}

.service-information h1 span {
  color: #D3F3F8;
}

@media (min-width: 480px) {
  .service-information h1 {
    top: 0em;
  }
}

@media (min-width: 1024px) {
  .service-information h1 {
    font-size: 2em;
  }
}

.service-information .service-information-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 3.5em;
}

@media (min-width: 480px) {
  .service-information .service-information-cards-container {
    margin-top: 1em;
  }
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.service-information .service-information-cards-container .service-information-card-group-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 3em;
  padding: 0.5em 0em;
}

@media (min-width: 480px) {
  .service-information .service-information-cards-container .service-information-card-group-1 {
    top: 0;
  }
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .thumb-img-1 {
  background-image: url("../images/thumb-img-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4em;
  height: 3em;
  border-radius: 100%;
  margin-right: 0.5em;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .thumb-img-1 {
    width: 6em;
    height: 6em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .service-information-text-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em 1em 0em 0.5em;
  width: 20em;
  margin-left: 0.5em;
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .service-information-text-container h2 {
  color: #00DCFF;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .service-information-text-container h2 {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .service-information-text-container h2 {
    font-size: 1.5em;
    width: 22em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .service-information-text-container p {
  font-size: 0.9em;
  line-height: 1.2em;
  color: #D3F3F8;
  margin-top: -0.8em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .service-information-text-container p {
    font-size: 0.8em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-1 .service-information-text-container p {
    font-size: 1.0em;
    width: 22em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  top: -2.5em;
}

@media (min-width: 480px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 {
    top: 0;
  }
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .thumb-img-2 {
  position: relative;
  background-image: url("../images/thumb-img-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4em;
  height: 3em;
  border-radius: 100%;
  margin-right: 0.5em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .thumb-img-2 {
    width: 6em;
    height: 6em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .service-information-text-container-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
  width: 20em;
  margin-left: 0.5em;
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .service-information-text-container-2 h2 {
  color: #00DCFF;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .service-information-text-container-2 h2 {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .service-information-text-container-2 h2 {
    font-size: 1.5em;
    width: 22em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .service-information-text-container-2 p {
  font-size: 0.9em;
  color: #D3F3F8;
  margin-top: -0.8em;
  line-height: 1.2em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .service-information-text-container-2 p {
    font-size: 0.8em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-1 .service-information-card-2 .service-information-text-container-2 p {
    font-size: 1.0em;
    width: 21em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: -3.5em;
  padding: 0.5em 0em;
}

@media (min-width: 480px) {
  .service-information .service-information-cards-container .service-information-card-group-2 {
    top: 0;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-2 {
    margin-left: 5em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .thumb-img-3 {
  position: relative;
  background-image: url("../images/thumb-img-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4em;
  height: 3em;
  border-radius: 100%;
  margin-right: 0.5em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .thumb-img-3 {
    width: 6em;
    height: 6em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .service-information-text-container-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
  width: 20em;
  margin-left: 0.5em;
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .service-information-text-container-3 h2 {
  color: #00DCFF;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .service-information-text-container-3 h2 {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .service-information-text-container-3 h2 {
    font-size: 1.5em;
    width: 22em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .service-information-text-container-3 p {
  font-size: 0.9em;
  line-height: 1.2em;
  color: #D3F3F8;
  margin-top: -0.8em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .service-information-text-container-3 p {
    font-size: 0.8em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-3 .service-information-text-container-3 p {
    font-size: 1.0em;
    width: 21em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  top: -2.5em;
}

@media (min-width: 480px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 {
    top: 0;
  }
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .thumb-img-4 {
  position: relative;
  background-image: url("../images/thumb-img-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4em;
  height: 3em;
  border-radius: 100%;
  margin-right: 0.5em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .thumb-img-4 {
    width: 6em;
    height: 6em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .service-information-text-container-4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
  width: 20em;
  margin-left: 0.5em;
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .service-information-text-container-4 h2 {
  color: #00DCFF;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .service-information-text-container-4 h2 {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .service-information-text-container-4 h2 {
    font-size: 1.5em;
    width: 22em;
  }
}

.service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .service-information-text-container-4 p {
  font-size: 0.9em;
  line-height: 1.2em;
  color: #D3F3F8;
  margin-top: -0.8em;
}

@media (min-width: 768px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .service-information-text-container-4 p {
    font-size: 0.8em;
  }
}

@media (min-width: 1024px) {
  .service-information .service-information-cards-container .service-information-card-group-2 .service-information-card-4 .service-information-text-container-4 p {
    font-size: 1.0em;
    width: 21em;
  }
}

.service-information .get-quote-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  top: -6.5em;
}

@media (min-width: 480px) {
  .service-information .get-quote-container {
    top: 0em;
  }
}

@media (min-width: 768px) {
  .service-information .get-quote-container {
    top: 0em;
  }
}

@media (min-width: 1024px) {
  .service-information .get-quote-container {
    top: 2.5em;
  }
}

.service-information .get-quote-container small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00DCFF;
  font-size: 0.4em;
}

@media (min-width: 320px) {
  .service-information .get-quote-container small {
    display: none;
  }
}

.service-information .get-quote-container span {
  position: relative;
  color: #91effd;
  font-size: 0.4em;
  letter-spacing: 0.1em;
}

@media (min-width: 320px) {
  .service-information .get-quote-container span {
    display: none;
  }
}

.service-information .get-quote-container a button {
  position: relative;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: .5em;
  padding: 0.6em 1.8em;
  border-radius: 30px;
  border: 1px solid #00ddff2c;
  background: rgba(193, 211, 255, 0.327);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #00d5ff;
}

.service-information .get-quote-container button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(151, 96, 252, 0.184);
  border: 0.1px solid rgba(151, 96, 252, 0.116);
  color: white;
}

.about-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.47))), url("../images/about-us.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.762), rgba(0, 0, 0, 0.47)), url("../images/about-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  padding: 2em;
  -webkit-animation: heroGrow 1000s ease forwards;
          animation: heroGrow 1000s ease forwards;
}

@-webkit-keyframes heroGrow {
  from {
    background-size: 200%;
  }
  to {
    background-size: 1000%;
  }
}

@keyframes heroGrow {
  from {
    background-size: 200%;
  }
  to {
    background-size: 1000%;
  }
}

.about-us h1 {
  font-size: 2em;
  color: #00DCFF;
}

.about-us h1 span {
  color: #D3F3F8;
}

.about-us p {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #D3F3F8;
  text-align: center;
  max-width: 45em;
}

@media (min-width: 1024px) {
  .about-us p {
    font-size: 1.2em;
  }
}

.about-us p span {
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.about-us .call-us-btn {
  position: relative;
  margin-top: 2.5em;
  padding: 0.6em 1.8em;
  border-radius: 30px;
  border: 1px solid #00ddff2c;
  background: rgba(193, 211, 255, 0.327);
  -webkit-box-shadow: 0px 1px 8px 0.1px #00ddff4d;
          box-shadow: 0px 1px 8px 0.1px #00ddff4d;
  color: #00dcff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.call-us-btn:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(151, 96, 252, 0.327);
  border: 1px solid rgba(151, 96, 252, 0.327);
  color: white;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0f0f0f), to(#454545));
  background: linear-gradient(180deg, #0f0f0f 50%, #454545 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  padding: 0.5em;
}

@media (min-width: 1024px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact .contact-text-container .contact-element-group-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-text-container .contact-element-group-1 h2 {
  color: #00DCFF;
  font-size: 2em;
  margin-top: 2em;
}

.contact .contact-text-container .contact-element-group-1 h4 {
  color: #dae5ff;
  margin-top: -2em;
}

.contact .contact-text-container .contact-element-group-1 p {
  color: #dae5ff;
  margin-top: -1em;
  font-size: 0.8em;
  line-height: 1em;
  text-align: center;
}

.contact .contact-text-container .contact-element-group-2 label {
  color: #00DCFF;
  text-align: center;
  font-size: 0.6em;
  margin-top: 1em;
}

.contact .contact-text-container .contact-element-group-2 label .maps-container {
  position: relative;
}

.contact .contact-text-container .contact-element-group-2 label .maps-container iframe {
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 8px 0.1px #000000;
          box-shadow: 0px 1px 8px 0.1px #000000;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5em;
  background: #1e2729;
  color: #D3F3F8;
  margin-top: -2.1em;
}

footer a {
  text-decoration: none;
  color: #00aaffc6;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */